# python bytecode
__pycache__/
*.pyc
.pytest_cache

# ruff
.ruff_cache/

# script outputs
output/

# Zimui build dist
scraper/src/youtube2zim/zimui/

# vim
*.vim

# tmux
tmux*.log

# LSP config files
pyrightconfig.json

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
